body {
	margin: 0;
	padding:0;
	background-color: #337ab7;
	background-image: url("assets/d.jpeg");
	background-position: top;
	background-repeat: no-repeat;
}
.nav h4{
    color: #f2f2f2 ;
	margin-left: 20px;
	font-family: "Roboto", sans serif;
	
}
.nav {
	background-color: #000;
	margin-bottom: 4%;
	padding: 2%;
	box-shadow: 1px 5px 14px 2px rgba(0,0,0,0.4);
	border-bottom: 5px #fff;
}
.jumbotron {
	background-color: #fff;
	box-shadow: 0px 6px 14px 2px rgba(0,0,0,0.4);
}
.glyphicon {
	color: teal;
}
form {
	text-align: center;
	margin-bottom: 10%;
}
img {
	margin-top: 1em;
	height: 60%;
	width: 60%;
	max-height: 250px;
	max-width: 250px;
	box-shadow: 0px 6px 14px 2px rgba(0,0,0,0.2);

}
section {
	text-align: center;
}
.content {
	text-align: left;
	background-color: #f4f4f4;
	margin: 6% auto;
	padding: 2% 1% 3.8% 1%;
}
section .pic {
	height: 40%;
	width: 40%;
	max-height: 250px;
	max-width: 250px;

}